@font-face {
  font-family: "Metro Sans";
  src: url(/fonts/bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: optional;
}

@font-face {
  font-family: "Metro Sans";
  src: url(/fonts/semi-bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: optional;
}

@font-face {
  font-family: "Metro Sans";
  src: url(/fonts/medium.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: optional;
}

@font-face {
  font-family: "Metro Sans";
  src: url(/fonts/regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: optional;
}

@font-face {
  font-family: "Metro Sans";
  src: url(/fonts/mono.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: optional;
}

@font-face {
  font-family: "Gilmer Sans";
  src: url(/fonts/gilmer-bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: optional;
}

@font-face {
  font-family: "Gilmer Sans";
  src: url(/fonts/medium-bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: optional;
}
