@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-contrast: 0 0% 0%;
    --background: 0 0% 100%;
    --foreground: 220 33% 19%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 51%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 0 0% 69%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 220 33% 19%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;

    /* CUSTOM */
    --totalToolbarHeight: 72px;
    --verticalContentPadding: 1.5rem;
    --bg-gradient: radial-gradient(50% 66.67% at 50% 33.33,blue, red);
    --profile-shadow: 0 0 5px hsla(0, 0%, 9%, 0.3), 0 0 10px hsla(0, 0%, 9%, 0.3);
  }
 
  .dark {
    --foreground-contrast: 0 0% 100%;
    --background: 0 0% 9%;
    --foreground: 210 8% 83%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 0 0% 45%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 0 0% 20.5%;
    --input: 216 34% 17%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 180, 2%, 11%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
    --bg-gradient: radial-gradient(50% 66.67% at 50% 33.33,blue, red);
    --profile-shadow: 0 0 5px hsla(0, 0%, 83%, 0.3), 0 0 10px hsla(215, 20.2%, 65.1%, 0.3);
  }

  * {
    @apply border-border;
  }

  html, body {
    @apply font-outfit;
    @apply !text-foreground;
    background-image: var(--bg-gradient);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-feature-settings: "rlig" 1, "calt" 1;
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    @apply font-outfit;
    @apply !text-foreground-contrast
  }

  b {
    @apply font-semibold;
  }
}

@layer components {
  .no-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
  }
  
  .spotlight {
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    top: var(--cursor-y, 0);
    left: var(--cursor-x, 0);
  }

  .profile {
    box-shadow: var(--profile-shadow);
    transition: box-shadow 0.3s ease-in-out;
  }


  @keyframes continuous-gradient {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 80% 50%;
    }
  }

  .animated-blue-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r;
    @apply dark:from-hunter-blue-600 dark:to-hunter-blue-300;
    @apply from-hunter-blue-700 to-hunter-blue-400;
    background-size: 200% 100%;
    animation: continuous-gradient 4s ease infinite;
  }

  .animated-yellow-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r;
    @apply dark:from-hunter-yellow-300 dark:to-hunter-rose-500;
    @apply from-hunter-yellow-400 to-hunter-rose-600;
    background-size: 200% 100%;
    animation: continuous-gradient 4s ease infinite;
  }


  .animated-gray-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r;
    @apply dark:from-gray-400 dark:to-gray-500;
    @apply from-gray-500 to-gray-700;
    background-size: 200% 100%;
    animation: continuous-gradient 4s ease infinite;
  }

  .dark pre[data-theme="dark"],
  .dark div[data-rehype-pretty-code-title] {
    color-scheme: dark;
    @apply font-mono;
  }

  .dark pre[data-theme="light"],
  .dark div[data-rehype-pretty-code-title][data-theme="light"] {
    display: none;
    @apply font-mono;
  }

  .light pre[data-theme="dark"],
  .light div[data-rehype-pretty-code-title][data-theme="dark"] {
    display: none;
    @apply font-mono;
  }

}
