@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-lexend;
  }
}

@layer components {
  .no-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }


  /* .bg-dotted-pattern-dark {
    background-image: radial-gradient(
      circle at 50% 50%,
      #605e6755 0,
      #191d21 15%
    );
    background-size: 20px 20px;
  } */
  .bg-squared-pattern-dark {
    /* background: linear-gradient(54.14deg, rgb(25, 29, 33) 20%, rgb(26, 30, 34) 40%, rgb(27, 31, 35) 60%, rgb(28, 32, 36) 80%, rgb(29, 33, 37) 100%); */
    background-color: #191d21;
  }

  .bg-squared-pattern {
    @apply bg-squared-pattern-dark;
  }

  .dark pre[data-theme="dark"],
  .dark div[data-rehype-pretty-code-title] {
    color-scheme: dark;
  }

  .light pre[data-theme="dark"],
  .light div[data-rehype-pretty-code-title][data-theme="dark"] {
    display: none;
  }

  .dark code span::before {
    @apply text-white/20;
  }
  .light code span::before {
    @apply text-black/30;
  }
}
