@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-lexend;
  }
}

@layer components {
  .no-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  .bg-dotted-pattern-dark {
    background-image: radial-gradient(
      circle at 50% 50%,
      #605e6755 0,
      #141318 15%
    );
    background-size: 20px 20px;
  }

  .bg-dotted-pattern-light {
    background-image: radial-gradient(
      circle at 50% 50%,
      #22222222 0,
      #00000000 15%
    );
    background-size: 20px 20px;
  }

  .bg-dotted-pattern {
    @apply bg-dotted-pattern-light dark:bg-dotted-pattern-dark;
  }

  .dark pre[data-theme="dark"],
  .dark div[data-rehype-pretty-code-title] {
    color-scheme: dark;
  }

  .dark pre[data-theme="light"],
  .dark div[data-rehype-pretty-code-title][data-theme="light"] {
    display: none;
  }

  .light pre[data-theme="dark"],
  .light div[data-rehype-pretty-code-title][data-theme="dark"] {
    display: none;
  }

  .dark code span::before {
    @apply text-white/20;
  }
  .light code span::before {
    @apply text-black/30;
  }
}
